@keyframes a {
    0% {
        transform: rotate(0deg)
    }

    to {
        transform: rotate(1turn)
    }
}

.preloader-overlay {
    background-color: rgba(10,10,10,.95);
    color: #fff;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif
}

.preloader-title {
    color: #eee
}

.preloader-text {
    color: #ccc
}

.progress-bar {
    background-color: #333
}

.progress {
    background: linear-gradient(90deg,#0f76f2,#04d3f2)
}

.preloader-counter {
    color: #ccc
}

.preloader-overlay {
    align-items: center;
    background-color: var(--bg-color);
    color: var(--text-color);
    display: flex;
    font-family: var(--font-sans);
    height: 100%;
    justify-content: center;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1
}

.preloader-container {
    text-align: center
}

.preloader-logo {
    animation: a 1s linear infinite;
    border: 4px solid var(--primary-color-dark);
    border-radius: 50%;
    border-top-color: var(--primary-color);
    height: 60px;
    margin: 0 auto 24px;
    width: 60px
}

.preloader-title {
    font-size: 2em;
    font-weight: 600;
    margin-bottom: 8px
}

.preloader-text {
    color: var(--text-color-dark);
    font-size: 1.1em;
    margin-bottom: 24px
}

.progress-bar {
    background-color: var(--bg-color-lighter);
    border-radius: 4px;
    height: 8px;
    margin: 0 auto 10px;
    overflow: hidden;
    width: 300px
}

.progress {
    background: var(--primary-color);
    border-radius: 4px;
    height: 100%;
    transition: width .1s ease-in-out
}

.preloader-counter {
    color: var(--text-color-dark);
    font-size: 1em
}