.react-flow__controls {
    background: var(--bg-color-lighter)
}

.react-flow__controls-button {
    background: var(--bg-color-lighter)!important;
    border-bottom: 1px solid var(--border-color)!important
}

.react-flow__controls-button:hover {
    background: var(--bg-color-light)!important
}

.react-flow__controls .react-flow__controls-button:last-of-type {
    border-bottom: none!important
}

.react-flow__panel.react-flow__controls {
    border-radius: 0!important
}

.graph-editor-wrapper,.info-panel {
    background-color: var(--bg-color)
}

.graph-editor-wrapper {
    height: 100%;
    width: 100%
}

.react-flow__background {
    opacity: .6
}

.react-flow__controls {
    background: var(--bg-color-light);
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius-md);
    box-shadow: var(--shadow);
    padding: 4px
}

.react-flow__controls-button {
    background: 0 0!important;
    border: 0!important;
    color: var(--text-color)!important;
    fill: var(--text-color)!important;
    height: 32px;
    width: 32px
}

.react-flow__controls-button:hover {
    background: var(--bg-color-lighter)!important
}

.react-flow__controls-button svg {
    fill: currentColor!important
}

.react-flow__minimap {
    background-color: var(--bg-color-light)!important;
    border: 1px solid var(--border-color)!important;
    border-radius: var(--border-radius-md)!important
}

.react-flow__panel.react-flow__attribution {
    display: none
}

.info-panel {
    backdrop-filter: blur(4px);
    background-color: rgba(36,37,40,.8);
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius-md);
    color: var(--text-color-dark);
    font-size: .8em;
    padding: 8px 12px
}